# Now ignore everything (else); order is important
*
# All the file types you're interested in.
# We won't depend on git's ability to only include certain files
!.gitignore
!update_repo.sh
!README.org