# Now ignore everything (else); order is important
*
# All the file types you're interested in.
!.gitignore
!update_repo.sh
!*/build_*.sh
!**/build_*.sh
!*/gen_modules_*.sh
!**/gen_modules_*.sh
!README.org